{% extends "base.html" %}
{% block title %} Eventos {% endblock %}
{% block content %}

  <section class="section" id="eventos">
    <div class="container">
      <h1 class="title">Eventos</h1>
      <h2 class="subtitle">
        Los siguientes eventos, estan disponibles para alumnos en curso y graduados.
      </h2>
      <div class="table-container">
        <table class="table is-bordered is-striped">
          <caption> Evaluacion G30-CMDO. JHONY ORDOÑEZ DÍAZ</caption>
          <tr>
            <th style="text-align: center">Fecha/Partida</th>
            <th style="text-align: center">Evento/Distancia</th>
            <th style="text-align: center">Lugar</th>
            <th style="text-align: center">Costo</th>
            <th style="text-align: center">Observaciones</th>
            <th style="text-align: center">Estado</th>
          </tr>
          <tr>
            <td>15-JUN/ 07:00 AM</td>
            <td>YUYOS 1.6K Y 3.0K</td>
            <td>PESCA-YUYOS</td>
            <td>GRATUITO</td>
            <td>PADDLE</td>
            <td>Completado</td>
          </tr>
          <tr>
            <td>22-JUN/ 07:00 AM</td>
            <td>HERRADURA 2k, 3k Y 4K</td>
            <td>YUYOS-HERRADURA</td>
            <td>S/ 20.00</td>
            <td>BOTE/PADDLE</td>
            <td>Completado</td>
          </tr>
          <tr>
            <td>28-JUN/ 18:00 AM</td>
            <td><a href="eventos/2025-06-28-nocturna.pdf">NOCTURNA 2K</a></td>
            <td>PESCADORES</td>
            <td>GRATUITO</td>
            <td>BOTE/PADDLE</td>
            <td>En Registro</td>
          </tr>
          <tr>
            <td>06-JUL/ 07:30 AM</td>
            <td>LOMO DE BALLENA 1.5K A 5K</td>
            <td>LA PUNTA</td>
            <td>S/. 00.00</td>
            <td>BOTE/PADDLE/MEDALLA</td>
            <td>Programado</td>
          </tr>
          <tr>
            <td>13-JUL/ 08:00 AM</td>
            <td>CUADRILATERO DE LA M DE 2.5K A 5.5K Y FINAL G30</td>
            <td>YUYOS</td>
            <td>S/ 00.00</td>
            <td>GORRA/PADDLE/HIDRA/MEDALLA</td>
            <td>Programado</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  {% endblock %}